@import "public.css";

#panel1 .panelj {
    margin: 25px;
    overflow: hidden;
}

#panel1 .tab {
    /*background-color: #FFF0F4;*/
    background-image: -moz-linear-gradient(bottom, #F5F5F5, #FFFFFF);
    background-image: -webkit-linear-gradient(bottom, #F5F5F5, #FFFFFF); /*chrome*/
    background-image: -ms-linear-gradient(bottom, #F5F5F5, #FFFFFF); /*IE10+*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#FFFFFF", EndColorStr="#F5F5F5"); /*ie6-9*/
    border: 1px solid #d3d3d3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 35px;
}

#panel1 .tab_item {
    padding: 0 20px;
    min-width: 50px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #d3d3d3;
    float: left;
}

 #panel1 .tab_item:hover {
    text-decoration: underline;
}

 #panel1 .tab_focus {
    height: 36px;
    line-height: 36px;
    background-color: white;
    color: #483D8B;
    font-weight: bolder;
    /*background: url("img/shoucang.png") no-repeat scroll 65px -343px;*/
}

#panel1 .list {
    background-color:#fff;
    height: 285px;
    width: 708px;

    overflow-y: scroll;
    border: 1px solid #d3d3d3;
    border-top: 0;
    display: none;
}
#panel1 .list .item {
    float: left;
    width: 100px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    padding: 14px;
    margin: 0px;
    margin-top: -1px;
    border: 5px solid #fff;
}
.item span{
    display:block;
}
#panel1 .list .item_img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border: 5px solid white;
    border-radius: 10px;
}
#panel1 .list .item_img_hover {
    border: 5px solid #e7ebe4;
}
#panel1 .list .item_focus {
    border: 5px solid #EFB934;
}
.words {
    /*margin-top: 25px;*/
    margin: 15px auto;
    width: 660px;
    padding-bottom: 36px;
}

.words label {
    background-color: #2d57a1;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-align: center;
    /*padding: 0 25px;*/
    width: 100px;
}

.words input {
    line-height: 28px;
    height: 28px;
    width: 547px;
    font-size: 13px;
    border: 1px solid #d3d3d3;
    float: right;
    color: #9C9C9C;
}
.but_div{
    height: 45px;
text-align: right;
overflow: hidden;
}
.but_cancel{
    height: 30px;
cursor: pointer;
margin-top: 8px;
margin-right: 20px;
text-align: center;
padding: 0 25px;
}
.but_send{
    height: 30px;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 20px;
    text-align: center;
    padding: 0 25px;
    background: #2d57a1;
    color: #fff;
    border: 1px solid #2d57a1;
    -moz-border-radius: 6px; /* FF1+ */
　　-webkit-border-radius: 6px; /* Saf3+, Chrome */
　　border-radius: 6px; /* Opera 10.5, IE 9 */
}
.but_send:hover{
    height: 30px;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 20px;
    text-align: center;
    padding: 0 25px;
    background: #3a5590;
    color: #fff;
}