.gwx_face_outer {
    /*width: 397px;*/
    width: 544px;
    padding: 2px;
    background-color: white;
}

.gwx_face_face {
    border: 0;
    margin: 7px;
    cursor: pointer;
    font:12px/1.5 "sans serif",tahoma,verdana,helvetica
}
.gwx_face_hover{
    margin: 3px;
    padding: 3px;
    border: 1px solid lightblue;
}