@charset "utf-8";
/* CSS Document */
@import "public.css";

body {
    color: #777777;
    background-color: #fafbfb;
}

.caption {
    color: #6D6D6D;
    background: #F0F0F0;
    border: 1px solid #E9E9E9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    padding: 10px 0;
}

.tab {
    float: left;
    min-width: 50px;
    padding: 5px 15px;
    margin: 0 0 0 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.tab_focus {
    border-radius: 15px;
    background: #2d57a1;
    color: white;
}

.tab_hover {
    text-decoration: underline;
}

.close {
    float: right;
    display: inline-block;
    cursor: pointer;
    width: 27px;
    height: 27px;
    margin-right: 10px;
    margin-top: -1px;
    background: url("../Images/icon_0.png") no-repeat -40px -468px;
}

.close:hover {
    background-position: -82px -468px;
}

.panel_1 {
    padding: 0 18px;
    display: block;
}
.up_left{
    padding: 5px 3px 15px 10px;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    float: left;width:408px
}

.u {
    padding: 5px 3px 15px 10px;
    float: right;
    width: 408px;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    /*margin-top: 20px;*/
}

.u_img {
    width: 48px;
    height: 40px;
    margin-left: 20px;
    display: inline-block;
}

.u_img_1 {
    /*background: url("../Images/m.png") 0 10px;*/
    background: url("../Images/icon_2.jpg") -86px -74px;
}

.u_img_2 {
    /*background: url("../Images/m.png") 0 -77px;*/
    background: url("../Images/icon_2.jpg") -86px -19px;
}
.up_yes{
    width: 30px;
    height: 20px;
    display: inline-block;
    background: url("../Images/yes.png") 0px 0px;
}

.u_title {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
}

.u__des {
    font-size: 13px;
    line-height: 30px;
}

.u_opts {
    margin-left: -20px;
    overflow: hidden;
}

.u_opt {
    float: left;
    border: 1px solid #dcdee1;
    /*text-align: center;*/
    margin-left: 20px;
    /*margin-top: 4px;*/
    cursor: pointer;
    line-height: 21px;
    /*border-radius: 5px;*/
    height: 41px;
    overflow: hidden;
}

.u_opt:hover {
    border: 1px solid #2d57a1;
}

.u_opt_focus {
    border: 1px solid #2d57a1;
}

.u_opt_focus .u_opt_r {
    color: white;
    background-color: #2d57a1;
}

.u_opt_focus .u_opt_radio {
    background-position: -2px -54px;
}

/*.options dd {
    float: left;
}*/

.u_opt_l {
    float: left;
    width: 250px;
    padding: 9px;
}

.u_opt_l1 {
    font-weight: 300;
    font-size: 14px;
}

.u_opt_l2 {
    font-weight: bold;
    font-size: 15px;
}

.u_opt_r {
    float: left;
    padding: 0px;
    height: 41px;
    line-height: 41px;
    width: 137px;
    border-left: 1px solid #E9E9E9;
    background-color: #FBFBFD;
}

.u_opt_radio {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -10px;
    margin-top: 10px;
    background: url("../Images/sign.png") no-repeat -2px 0;
}

.u_opt_hot {
    width: 40px;
    height: 40px;
    margin-left: 151px;
    position: absolute;
    border-top-right-radius: 3px;
    background: url("../Images/icon1.png") 1px -92px;
}

.u_bar {
    list-style: none;
    overflow: hidden;
    margin-top: 25px;
    width:100%;
    margin-top: 10px;
}

.u_bar_item {
    margin-right: 30px;
    float: left;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid transparent;
    background: url("../Images/sign.png") no-repeat 10px 21px;
}

.u_bar_item:hover {
    border: #a5c85b 1px solid;
    border-radius: 5px;
    background-color: #f4f8eb;
}

.u_bar_focus {
    border: #a5c85b 1px solid;
    border-radius: 5px;
    background: url("../Images/sign.png") no-repeat 10px -33px #f4f8eb;
}

.u_bar_a {
    margin-left: 40px;
    float: left;
    height: 48px;
}

.u_bar_paypal {
    width: 174px;
    background: url('../Images/paypal.png') no-repeat left;
}

.u_bar_gold {
    width: 40px;
    background: url('../Images/icon1.png') no-repeat 1px 5px;
}

.u_bar_ali {
    width: 85px;
    background: url('../Images/zhifu.jpg') no-repeat -5px center;
}

.u_btn {
    float: right;
    min-width: 170px;
    font-size: 18px;
    line-height: 48px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    border: 1px solid #1CA536;
    background: #1DBF3C;
}

.u_btn:hover {
    background-color: #1AA734;
}

.panel_2 {
    display: none;
}

.r_balance {
    margin: 0;
    overflow: hidden;
    line-height: 25px;
    padding: 20px 40px;
}

.r_balance_name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 20px;
    display: inline-block;
}

.r_balance_val {
    color: #2d57a1;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
}

.r_balance_gold {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    display: inline-block;
    background: url('../Images/icon1.png') no-repeat -45px -1px;
}

.r_section {
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
}

.r_choose {
    padding: 0 15px;
    font-size: 16px;
    line-height: 60px;
    margin-left: 25px;
}

.r_opts {
    padding-left: 40px;
    padding-bottom: 40px;
}

.r_opts dl {
    overflow: hidden;
}

.r_opt {
    cursor: pointer;
    width: 200px;
    display: inline-block;
    margin-right: 44px;
    line-height: 70px;
    padding-left: 40px;
    overflow: hidden;
    float: left;
    border-radius: 5px;
    border: 1px solid #dcdee1;
}

.r_opt_hot {
    width: 40px;
    height: 40px;
    margin-left: 83px;
    position: absolute;
    border-top-right-radius: 3px;
    background: url("../Images/icon1.png") 1px -92px;
}

.r_opt_focus {
    background-color: #fef7e9;
    border-color: gold;
}

.r_opt:hover {
    border-color: gold;
}

.r_opt_focus .r_opt_radio {
    background-position: -2px -54px;
}

.r_opt_focus .r_opt_txt2 {
    background-position: -85px -135px;
}

.r_opt_radio {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -127px;
    margin-top: 26px;
    background: url("../Images/sign.png") no-repeat -2px 0;
}

.r_opt_radio2 {
    margin-left: -72px;
}

.r_opt_gold {
    width: 22px;
    height: 23px;
    margin-top: 24px;
    background: url("../Images/icon1.png") -1px -220px;
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.r_opt_txt1 {
    width: 50px;
    margin-left: 5px;
    font-size: 22px;
    color: #E59C33;
    float: left;
    display: inline-block;
    vertical-align: bottom;
}

.r_opt_txt2 {
    width: 65px;
    height: 70px;
    float: right;
    font-size: 15px;
    color: #C3A879;
    text-align: center;
    display: inline-block;
    background: transparent url("../Images/icon1.png") repeat scroll 3px -135px;
}

.r_opt_section {
    color: #C3A879;
    float: right;
    font-size: 14px;
    margin-right: 15px;
    display: inline-block;
}

.r_opt_input {
    color: #777777;
    width: 70px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 5px;
    border: 1px solid #dcdee1;
}

.r_bar {
    list-style: none;
    overflow: hidden;
    padding: 30px 40px;
}

